/**import from Home.jsx*/

.hero {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100hv;
  object-fit: cover;
}

/**import from Hero.jsx*/
.hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}

@media screen and (max-width: 480px) {
  .hero-text h1 {
    font-size: 2rem;
    padding: 10x 20px;
  }

  .hero-text p {
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
  }

  .hero-text .show {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 25px;
  }
}
